.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 2rem;
    width: 100%;
}

.text{
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.left{
    margin-left: 0.5rem;
}

.red{
    color: #ff0000;
}